* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --line-height: 2em;
    --verse-offset: 1em;
    --columns-gap: 2em;
    --meta-height: 120px;
    --chord-height: 120px;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* EDITOR */
#editor {
    width: 40%;
    float: left;
    height: 100vh;
    padding: 1em;
    background: #eee;
    position: fixed;
}
#editor fieldset {
    border: none;
    margin: 0;
    padding: 0 0 .5em 0;
}
#editor #tab-meta .form-group label{
    /* width: 60px;
    display: inline-block; */
    display: none;

}
#editor .form-group input[type="text"]{
    width: 100%;
}

#editor #edit_area {
    height: calc(100% - 90px);
    width: 100%;
    white-space: pre;
    overflow: auto;
    font-family: monospace;
    resize: vertical;
}

/* PREVIEW */
#preview {
    width: 60%;
    float: right;
    height: 100vh;
    padding: 1rem;

}
@media screen{
    /* A4 sheet preview */
    #preview #paper{
        width: 21cm;
        min-height: 97vh;
        padding: 2cm;
        margin: 0 auto 1em auto;
        box-shadow: 0 0 3px rgba(0,0,0, .4);
    }
}
#preview header {
    border-bottom: 1px solid;
    padding-bottom: .5em;
}
#preview .title {
    margin: 0;
}
#preview .author {
    margin: .3em 0 0 0;
    font-size: 1em;
}

/* CHORDS */
#chords .chord {
    margin-top: 1em;
    height: var(--chord-height);
    min-width: 60px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 70px;
    overflow: hidden;
}

#verses .chord.-inSingleLine{
    position: relative;
    width: auto;
    display: inline-block;
    font-size: inherit;
    color: inherit;
    font-style: inherit;
    margin-right: .5em;
}

#verses .chord.-inSingleLine span{
    position: unset;
}

#chords .chord img,
#chords .chord img:before {
    height: var(--chord-height);
    min-width: 83px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    filter: grayscale(1);
}

#chords .chord img:after {
    content: attr(data-chord);
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 0.65em;
    text-transform: capitalize;
    font-weight: bold;
    color: #424242;
    z-index: 100;
    font-style: italic;
}

#chords img:before{
    content: "";
    white-space: pre;
    position: absolute;
    background: url(../images/chords/not_found.png);
    background-size: cover;
    text-transform: capitalize;
    text-align: center;
    left: 0;
    top: 0;
}

/* VERSES */
#verses {
    margin-top: 1em;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: var(--columns-gap);
    -webkit-column-gap: var(--columns-gap);
    column-gap: var(--columns-gap);
    line-height: 1.5em;
}
#verses .verse {
    font-family: "Ubuntu Mono", serif;
    page-break-inside: avoid;
    padding-left: var(--verse-offset);
    display: inline-block;
    position: relative;
    line-height: var(--line-height);
    margin-top: 1.5em;
    text-align: left;
    min-width: 100%;
    /* text-align-last: right;   */
}
#verses .verse:before {
    position: absolute;
    content: attr(data-verse-index) ".";
    width: 2em;
    top: 0;
    left: -1em;
    color: #888;
    font-size: .8em;
    font-style: italic;
    text-align: right;
}

#verses p{
    margin: 0;
}

#verses .verse .line{
    white-space: pre-wrap;
}


#verses .chord {
    position: absolute;
    font-style: italic;
    color: #666;
    font-size: .8em;
    display: inline;
    text-transform: capitalize;
}

#verses .chord span {
    position: absolute;
    top: -1em;
}




@media print {
    #editor {
        display: none;
    }
    #preview {
        width: 100%;
        float: right;
        height: 100vh;
        padding: 1rem;
    }
}
